<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrowdChat.Data.CrowdChatSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CrowdChat.Data.CrowdChat.Data" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CrowdChat.Data.CrowdChatSettings>
            <setting name="ConnectionString" serializeAs="String">
                <value>mongodb://admin:sshk23@ds033740.mongolab.com:33740/crowdchat</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>crowdchat</value>
            </setting>
        </CrowdChat.Data.CrowdChatSettings>
        <CrowdChat.Data.CrowdChat.Data>
            <setting name="ConnectionString" serializeAs="String">
                <value>"mongodb://admin:sshk23@ds033740.mongolab.com:33740/crowdchat"</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>"crowdchat"</value>
            </setting>
        </CrowdChat.Data.CrowdChat.Data>
    </userSettings>
</configuration>